@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-background: #09090B;
  --color-foreground: #FAFAFA;

  /* Card Colors */
  --color-card: #09090B;
  --color-card-foreground: #FAFAFA;

  /* Border & Input */
  --color-border: #27272A;
  --color-input: #27272A;

  /* Muted */
  --color-muted: #27272A;
  --color-muted-foreground: #A1A1AA;

  /* Accent */
  --color-accent: #27272A;
  --color-accent-foreground: #FAFAFA;

  /* Destructive */
  --color-destructive: #7F1D1D;
  --color-destructive-foreground: #FAFAFA;

  /* Ring */
  --color-ring: #D4D4D8;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #09090B;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}

::selection {
  background-color: #FAFAFA;
  color: #09090B;
}