@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar Hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Animation Utility */
.animate-pulse-slow {
  animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: .4;
  }

  50% {
    opacity: .2;
  }
}

@keyframes grid-move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(40px);
  }
}

.animate-grid-move {
  animation: grid-move 3s linear infinite;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100vh);
  }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
}